PRIVATEMESH_LOG_LEVEL=info
PRIVATEMESH_SHUTDOWN_TIMEOUT=10s
PRIVATEMESH_COORDINATOR_HOST_PORT=18080
PRIVATEMESH_NODE_A_HOST_PORT=18091
PRIVATEMESH_NODE_B_HOST_PORT=18092
PRIVATEMESH_COORDINATOR_HTTP_ADDRESS=:8080
PRIVATEMESH_SEARCH_NODE_HTTP_ADDRESS=:8090
PRIVATEMESH_NODE_DATA_DIR=/var/lib/privatemesh
